.ask-login {
  display: block;
}

.ask-login__header {

}

.ask-login__image {
  @include center-block;
}

.ask-login__subtitle {
  text-align: center;
}

.ask-login__form {

}

.ask-login__alert {

}

.ask-login__submit-button {

}

.ask-login__progress {

}

.ask-login__message {
  text-align: center;
}
